---
http_interactions:
- request:
    method: get
    uri: https://api.smash.gg/tournament/the-big-house-6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"tournament":{"id":1906,"seriesId":null,"ownerId":51,"state":1,"progressMeter":0,"name":"The
        Big House 6","slug":"tournament\/the-big-house-6","shortSlug":"tbh6","venueFee":null,"processingFee":5,"tiebreakOrder":null,"timezone":"America\/New_York","private":false,"published":true,"testMode":false,"publicSeeding":false,"tournamentType":1,"hasOnlineEvents":false,"includeQRCode":false,"approved":true,"startAt":1475852400,"endAt":1476068400,"startedAt":null,"completedAt":null,"registrationClosesAt":1476071999,"eventRegistrationClosesAt":1474171199,"teamCreationClosesAt":1474257599,"stripeMode":"live","paypalMode":"live","paypalApp":"default","city":"Dearborn","addrState":"MI","postalCode":"48126","countryCode":"US","mapsPlaceId":"ChIJO1T65Qc1O4gRJYeqjcDI7ZU","lat":42.3122619,"lng":-83.2178603,"links":{"facebook":"https:\/\/www.facebook.com\/events\/154420391655954\/","smashboards":"http:\/\/smashboards.com\/threads\/oct-7-2016-the-big-house-6-dearborn-mi.440028\/"},"venueName":"Edward
        Hotel & Conference Center","venueAddress":"600 Town Center Dr, Dearborn, MI
        48126, USA","region":"23","hashtag":"TBH6","showCity":null,"attendeeLocationInfo":6,"attendeeContactInfo":1,"attendeeFieldConfig":{"nameFirst":{"visible":true,"required":true},"nameLast":{"visible":true,"required":true},"phoneNumber":{"visible":false,"required":false},"countryId":{"visible":true,"required":true},"stateId":{"visible":true,"required":true},"city":{"visible":true,"required":true},"zipcode":{"visible":true,"required":true}},"attendeeRequirements":null,"notifyAdmins":true,"publicAttendees":true,"hideAdmins":false,"videoUrl":"https:\/\/www.youtube.com\/watch?v=Ja8JLJGelQQ","details":"The
        Big House returns October 7-9, 2016!\n\n\n\n**What is The Big House?**\n\nThe
        Big House is the largest Super Smash Brothers tournament series in the Midwest.
        Since 2011, it has been the go-to annual event for Smashers and spectators
        not only in the Midwest, but across the world. Over three days, The Big House
        runs a singles (1v1) event, doubles (2v2) event, and various exhibitions for
        both Super Smash Bros. Melee and Super Smash Bros. for Wii [...]
