---
http_interactions:
- request:
    method: get
    uri: https://api.smash.gg/tournament/the-big-house-6/event/melee-singles?expand%5B%5D=groups&expand%5B%5D=phase
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"event":{"id":12830,"tournamentId":1906,"state":3,"progressMeter":0,"videogameId":1,"name":"Melee
        Singles","description":"Melee Singles","slug":"tournament\/the-big-house-6\/event\/melee-singles","entryFee":null,"entryCap":null,"entrantSizeMin":1,"entrantSizeMax":1,"requiredCheckinNum":null,"teamNameAllowed":null,"teamManagementDeadline":null,"allowAutoReport":null,"tmgEventType":null,"templateId":null,"gameName":null,"playersPerEntry":null,"exhibition":null,"platform":null,"version":null,"type":1,"formatType":null,"teamsFormat":1,"entrantMode":1,"private":false,"isOnline":false,"hasTasks":false,"enableSlippi":false,"hasMatchmaking":false,"isPlaceholder":null,"startAt":1475852400,"endAt":1476068400,"startedAt":null,"completedAt":null,"projectionMode":null,"pageConfig":{"header":[],"tabs":[]},"gameModeConfig":[],"stations":[],"streams":[],"waves":[],"images":[],"scheduleId":42622,"expand":["phase","groups"],"typeDisplayStr":"Melee
        Singles"},"phase":[{"id":76014,"eventId":12830,"typeId":1,"phaseOrder":1,"name":"Phase
        1 Pools","state":3,"pendingSeeds":null,"locked":false,"isDefault":false,"isExhibition":false,"tier":1,"playGF":true,"loserStartDirection":null,"defaultLoserStartDirection":null,"bracketInitializer":null,"groupCount":128,"bracketMap":[],"groups":[]},{"id":76015,"eventId":12830,"typeId":1,"phaseOrder":2,"name":"Phase
        2 Pools","state":3,"pendingSeeds":null,"locked":false,"isDefault":false,"isExhibition":false,"tier":1,"playGF":true,"loserStartDirection":2,"defaultLoserStartDirection":null,"bracketInitializer":null,"groupCount":16,"bracketMap":[],"groups":[]},{"id":76016,"eventId":12830,"typeId":1,"phaseOrder":3,"name":"Top
        64","state":3,"pendingSeeds":null,"locked":false,"isDefault":false,"isExhibition":false,"tier":1,"playGF":true,"loserStartDirection":2,"defaultLoserStartDirection":null,"bracketInitializer":null,"groupCount":1,"bracketMap":[],"groups":[]}],"groups":[{"id":241486,"phaseId":76014,"waveId":11639,"poolRefId":null,"groupTypeId":2,"title":null,"identifier":"1","displayIdentifier":"E119","state":3,"tiebreakOrder":null,"tiebreaks":null,"bestOf":null,"setsOnDeck":3,"rematchSeconds":0,"finalized":false,"winnersTargetPhaseId":76015,"numProgressing":3,"losersTargetPhaseId":null,"startAt":1475881200,"startedAt":null,"seeds":[],"sets":[],"rounds":[],"matchmakingEnabled":false,"scheduleId":null,"expand":[],"hasSets":true,"stationId":23461,"hasCustomWinnerByes":false},{"id":241487,"phaseId":76014,"waveId":11635,"poolRefId":null,"groupTypeId":2,"title":null,"identifier":"2","displayIdentifier":"A107","state":3,"tiebreakOrder":null,"tiebreaks":null,"bestOf":null,"setsOnDeck":3,"rematchSeconds":0,"finalized":false,"winnersTargetPhaseId":76015,"numProgressing":3,"losersTargetPhaseId":null,"startAt":1475852400,"startedAt":null,"seeds":[],"sets":[],"rounds":[],"matchmakingEnabled":false,"scheduleId":null,"expand":[],"hasSets":true,"stationId":23449,"hasCusto[...]
- request:
    method: get
    uri: https://api.smash.gg/tournament/the-big-house-6/event/melee-doubles?expand%5B%5D=groups&expand%5B%5D=phase
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"event":{"id":12831,"tournamentId":1906,"state":3,"progressMeter":0,"videogameId":1,"name":"Melee
        Doubl[...]
