---
http_interactions:
- request:
    method: get
    uri: https://api.smash.gg/tournament/the-big-house-6/event/melee-singles/phase_groups?expand%5B%5D=results&filter=%7B%22phaseId%22:%20%2276016%22%7D&getSingleBracket=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Total-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"meta":[],"items":{"entities":{"groups":{"id":241630,"phaseId":76016,"waveId":null,"poolRefId":null,"groupTypeId":2,"title":null,"identifier":"1","displayIdentifier":"1","state":3,"tiebreakOrder":null,"tiebreaks":null,"bestOf":null,"setsOnDeck":3,"rematchSeconds":0,"finalized":false,"winnersTargetPhaseId":null,"numProgressing":1,"losersTargetPhaseId":null,"seedMap":{"1":[1,32,16,17,8,25,9,24,4,29,13,20,5,28,12,21,2,31,15,18,7,26,10,23,3,30,14,19,6,27,11,22],"2":[1,32,16,17,8,25,9,24,4,29,13,20,5,28,12,21,2,31,15,18,7,26,10,23,3,30,14,19,6,27,11,22]},"createdAt":1475432160,"updatedAt":1476073447,"startAt":null,"startedAt":null,"seeds":[],"sets":[],"rounds":[],"matchmakingEnabled":false,"scheduleId":null,"stationId":23465,"expand":["entrants","results","seeds","sets","standings"],"hasSets":true,"hasCustomWinnerByes":false},"entrants":[{"id":288001,"eventId":12830,"participantIds":[292490],"participant1Id":null,"participant2Id":null,"name":"FOX
        MVG | Mew2King","finalPlacement":4,"defaultSkill":10,"skill":null,"skillOrder":5,"unverified":null,"createdAt":1473366721,"updatedAt":1476128912,"isPlaceholder":null,"expand":[],"playerIds":{"292490":1003},"initialSeedNum":5,"prefixes":{"292490":"FOX
        MVG"},"mutations":{"participants":{"292490":{"id":292490,"gamerTag":"Mew2King","prefix":"FOX
        MVG","cityState":"Orlando, FL","contactInfo":{"nameLast":"Zimmerman","nameFirst":"Jason","update":true,"city":"Orlando","stateId":10,"state":"FL","countryId":318,"country":"United
        States","cityState":"Orlando, FL"}}},"players":{"1003":{"id":1003,"gamerTag":"Mew2King","prefix":"MVG
        FOX","name":"Jason Zimmerman","state":"FL","country":"United States","region":null,"images":[{"id":187508,"width":600,"height":600,"ratio":1.66,"type":"profile","url":"https:\/\/images.smash.gg\/images\/player\/1003\/image-5e7c8ca2d78d7b1e15b5dbece06d8632.PNG","isOriginal":false,"entity":null,"entityId":null,"uploadedBy":null,"createdAt":null,"updatedAt":null},{"id":187509,"width":300,"height":300,"ratio":1.66,"type":"profile","url":"https:\/\/images.smash.gg\/images\/player\/1003\/image-6652c61751c10d0e911a262f6e890929.PNG","isOriginal":false,"entity":null,"entityId":null,"uploadedBy":null,"createdAt":null,"updatedAt":null},{"id":187510,"width":100,"height":100,"ratio":1.66,"type":"profile","url":"https:\/\/images.smash.gg\/images\/player\/1003\/image-cb2f608cd161bb83c74347f37d0e97df.PNG","isOriginal":false,"entity":null,"entityId":null,"uploadedBy":null,"createdAt":null,"updatedAt":null},{"id":187511,"width":1005,"height":606,"ratio":1.66,"type":"profile","url":"https:\/\/images.smash.gg\/images\/player\/1003\/image-1a9f3e2155e24e620910ada267b0df59.PNG","isOriginal":true,"entity":null,"entityId":null,"uploadedBy":null,"createdAt":null,"updatedAt":null}],"rankings":[{"id":107846,"active":true,"iterationId":1344,"sourceId":1,"rank":4,"seriesId":12,"videogameId":1},{"id":99382,"active":true,"iterationId":1223,"sourceId":2,"rank":4,"seriesId":13,"videogameId":1},{"id":99244,"active":true,"iterationId":1222,"sourceId":2,"rank":195,"seriesId":18,"videogameId":4},{"id":103888,"active":true,"iterationId":1226,"sourceId":2,"rank":10,"seriesId":17,"videogameId":3},{"id":101879,"active":true,"iterationId":1224,"sourceId":2,"rank":1,"seriesId":90,"videogameId":5},{"id":102955,"active":true,"iterationId":1225,"sourceId":2,"rank":77,"seriesId":91,"videogameId":2},[...]
